- 
    var team = [
        {
            name: 'Bedi Manos',
            position: 'UI/UX Parena', 
            twitter: 'manos', 
            facebook: 'manos'
        },
        {
            name: 'Al Rayhan',
            position: 'UI/UX Designer', 
            twitter: 'rayhan', 
            facebook: 'rayhan'
        },
        {
            name: 'Ali Sayed',
            position: 'UI/UX Designer', 
            twitter: 'sayed', 
            facebook: 'sayed'
        }
    ];

mixin teamList (list = [])
    ul(class=`team-list`)
        each i in list
            li(class=`team-item`)
                ul.team-item-skills-list 
                    li.team-item-skills-item UI/UX  Design 
                    li.team-item-skills-item English
                    li.team-item-skills-item Communication
                .team-item-info
                    h2.team-item__name #{i.name}
                    .team-item__position #{i.position}
                ul.team-item-socials-list
                    li.team-item-socials-item   
                        a(href=`twitter.com/${i.twitter}` class='team-item-socials-link')
                            i.fab.fa-twitter
                    li.team-item-socials-item   
                        a(href=`facebook.com/${i.facebook}` class='team-item-socials-link')
                            i.fab.fa-facebook-f 
                    li.team-item-socials-item   
                        a(href=`twitter.com/${i.twitter}` class='team-item-socials-link')
                            i.fab.fa-twitter

section#team.section_gray
    .section-width-holder_padding-bottom
        .section-name-holder
            h1.section__title
                span team
                span Chinen & Skills
            p.section__text Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
        +teamList(team)